<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../css/markdown2.css">
	<link rel="stylesheet" type="text/css" href="../css/default.min.css">
	<script type="text/javascript" src="../js/highlight.min.js"></script>
</head>
<body>
	<%= html %>
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();
	</script>
</body>
</html>